<div class="panel panel-primary">
  <div class="panel-heading main-color-bg">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="panel-title"> Update Post</h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div id="newPost">
      <form (ngSubmit)="updatePost()" #updateForm="ngForm" >
        <div class="form-group">
          <!--<label>Title</label>-->
          <input type="text" name="title" [(ngModel)]="post.title" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
          <!--<label>Description</label>-->
          <!--<text-editor [elementId]="'post-description'" (onEditorKeyup)="TextEditorKeyUp($event)" ></text-editor>-->
          <textarea name="description" name="description" [(ngModel)]="post.description" class="form-control" cols="5" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-lg btn-success">Update Post</button>
      </form>
    </div>
  </div>
</div>