#logout-btn {
    padding: 20px;
}
#logout-btn button {
    margin-bottom: 15px;
}
.navbar-default {
    background-color: #2196f3 !important;
}
.navbar-brand {
    color: white;
}
.navbar-nav > li > a {
    color: white;
    font-size: 15px;
}
.navbar-default .navbar-nav > .open > a {
    background-color: black;
}
.list-group > a {
    font-size: 16px;
}