<article id="post-details">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="text-muted">{{post.created_at | date}}</span>
        <div id="post-title">
          <h3>{{post.title}}</h3>
        </div>
        <div id="post-description">
          <p [innerHTML]="post.description">
        </div>
      </div>
    </div>
  </div>
</article>