<div class="container" id="signup">
   <div class="col-md-4 col-md-offset-4">
    <form #signupForm="ngForm" id="signup" class="well" (ngSubmit)="onRegister(user)" >
      <div class="form-group">
        <label>FullName</label>
        <input type="text" [(ngModel)]="user.fullname" name="fullname" class="form-control" placeholder="Enter your name">
     </div>
     <div class="form-group">
        <label>Email</label>
        <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Enter username">
     </div>
     <div class="form-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="user.username" name="username" class="form-control" placeholder="Enter Email">
     </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-default btn-block">Signup</button>
      </form>
  </div>
</div>