<!-- Website Overview -->
  <div class="panel panel-primary">
    <div class="panel-heading main-color-bg">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="panel-title">Users</h3>
        </div>
        <div class="col-lg-6">
          <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addPage">Add</button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
            <div class="col-md-12">
                <input class="form-control" type="text" placeholder="Filter Posts...">
            </div>
      </div>
      <br>
      <table class="table table-striped table-hover">
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th> 
              <th>Isadmin</th>                           
              <th>Created</th>
              <th>Actions</th>
            </tr>
            <tr *ngFor="let user of users">
              <td>{{user.fullname}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.isAdmin}}</td>
              <td>{{user.created_at | date}}</td>
              <td><a class="btn btn-default" href="edit.html">Edit</a> <a class="btn btn-danger" href="#">Delete</a></td>
            </tr>
          </table>
      </div>
  </div>

<!--modals for add post-->
<div class="modal fade" id="addPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Page</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Page Title</label>
          <input type="text" class="form-control" placeholder="Page Title">
        </div>
        <div class="form-group">
          <label>Page Body</label>
          <textarea name="editor1" class="form-control" placeholder="Page Body"></textarea>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Published
          </label>
        </div>
        <div class="form-group">
          <label>Meta Tags</label>
          <input type="text" class="form-control" placeholder="Add Some Tags...">
        </div>
        <div class="form-group">
          <label>Meta Description</label>
          <input type="text" class="form-control" placeholder="Add Meta Description...">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>
