<!-- Website Overview -->
<div *ngIf="!newPost" class="panel panel-primary">
  <div class="panel-heading main-color-bg">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="panel-title">Posts</h3>
      </div>
      <div class="col-lg-6">
        <button class="btn btn-default pull-right" (click)="showaddpostForm()">Add</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <!--<div class="col-md-12">
        <input class="form-control" type="text" placeholder="Filter Posts...">
      </div>-->
    </div>
    <br>
    <div class="message text-center" *ngIf="postsLength <= 0"><h3>{{message}}</h3></div>
    <table *ngIf="postsLength > 0" class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <!--<th>Description</th>
        <th>Author</th>-->
        <th>Created</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let post of posts">
        <td>{{post.title}}</td>
        <!--<td> {{post.description}} </td>-->
        <!--<td>{{post.author}}</td>-->
        <td>{{post.created_at | date}}</td>
        <td><a class="btn btn-default" routerLink="/admin/posts/{{post._id}}/update">Edit</a> <a class="btn btn-danger" (click) = "delete(post._id)">Delete</a></td>
      </tr>
    </table>
  </div>
</div>

<!-- add post form -->
<div *ngIf="newPost" class="panel panel-primary">
  <div class="panel-heading main-color-bg">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="panel-title"> Add New Post</h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div id="newPost">
      <form (ngSubmit)="addPost()" #postForm="ngForm" >
        <div class="form-group">
          <!--<label>Title</label>-->
          <input type="text" name="title" [(ngModel)]="post.title" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
          <!--<label>Description</label>-->
          <!--<text-editor [elementId]="'post-description'" (onEditorKeyup)="TextEditorKeyUp($event)" ></text-editor>-->
          <textarea name="description" name="description" [(ngModel)]="post.description" class="form-control" cols="5" rows="5" placeholder="Description"></textarea>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Add Post</button>
      </form>
    </div>
  </div>
</div>