<!-- Website Overview -->
<div class="panel panel-primary" id="site-overview">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">Website Overview</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-3 widget ">
      <div class="dash-box widget1">
        <div class="icons"><i class="fa fa-user"></i></div>
        <h5>Users</h5>
        <h4>1000</h4>
      </div>
    </div>
    <div class="col-md-3 widget ">
      <div class="dash-box widget2">
        <div class="icons"><i class="fa fa-user"></i></div>
        <h5>Pages</h5>
        <h4>200</h4>
      </div>
    </div>
    <div class="col-md-3 widget ">
      <div class="dash-box widget3">
        <div class="icons"><i class="fa fa-user"></i></div>
        <h5>Posts</h5>
        <h4>4000</h4>
      </div>
    </div>
    <div class="col-md-3 widget ">
      <div class="dash-box widget4">
        <div class="icons"><i class="fa fa-user"></i></div>
        <h5>Visitors</h5>
        <h4>3000</h4>
      </div>
    </div>
  </div>
</div>

<!-- Latest Users -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Users</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Joined</th>
      </tr>
      <tr>
        <td>Jill Smith</td>
        <td>jillsmith@gmail.com</td>
        <td>Dec 12, 2016</td>
      </tr>
      <tr>
        <td>Eve Jackson</td>
        <td>ejackson@yahoo.com</td>
        <td>Dec 13, 2016</td>
      </tr>
      <tr>
        <td>John Doe</td>
        <td>jdoe@gmail.com</td>
        <td>Dec 13, 2016</td>
      </tr>
      <tr>
        <td>Stephanie Landon</td>
        <td>landon@yahoo.com</td>
        <td>Dec 14, 2016</td>
      </tr>
      <tr>
        <td>Mike Johnson</td>
        <td>mjohnson@gmail.com</td>
        <td>Dec 15, 2016</td>
      </tr>
    </table>
  </div>
</div>