.dash-box {
    text-align: center; 
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
}
.dash-box h5, h4 {
    color: white;
}
.dash-box .icons {
    color: white;
    font-size: 30px;
}
.widget1 {
    background-color: #ff4a43;
}
.widget2 {
    background-color: #1DABB8;
}
.widget3 {
    background: #2CC990;
}
.widget4 {
    background: #7E3661;
}