<nav-bar *ngIf="!authService.loggedIn()"></nav-bar>
<!--<admin-navbar *ngIf="authService.loggedIn()"></admin-navbar>-->
<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<router-outlet></router-outlet>
<div class="col-md-4" id="flash-msg">
  <flash-messages></flash-messages>
</div>
<hr>
<footer>
  <p class="text-center">TechScroll Copyright &copy; </p>
</footer>