footer {
  background: black;
  padding: 30px;
}
#flash-msg {
  text-align: center;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  padding: 15px;
}