.navbar-brand {
  font-size: 25px;
  color: white !important;
  font-weight: bolder;
}
.navbar-default {
  background-color: #249991;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 15px;
}