<section id="allPosts">
  <div class="container">
    <div *ngFor="let post of posts" class="row" id="posts">
      <div>
        <span class="text-muted"><p>{{post.created_at | date}}</p></span>
        <a routerLink="post/{{post.id}}"><h3 id="post_title">{{post.title}}</h3></a>
        <div id="post_desc" [innerHTML]="post.description"></div>
      </div>
    </div>
  </div>
</section>

<!--<section id="testimonial">
  <div class="container">
    <p>"Lorem ipsum dolor sit amet, laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    <p class="customer"> -John Doe</p>
  </div>
</section>

<section id="info1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="info-left">
          <img src="https://lh3.googleusercontent.com/R5QTA86jLBi1dHOd9v1h9AXoQ7f4PGpxns-3nHtvDXL_xREp2mG_Ud03ZZFGlzwh_g4" alt="">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="info-right">
          <h2>Get To Know Google Home</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <br>
          <a href="" class="btn btn-default btn-lg">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<section id="info2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="info-left">
          <h2>Info Block</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <br>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="info-right">
          <h2>Info Block</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <form>
          <div class="form-group">
            <label>Name: </label>
            <input class="form-control" type="text" name="" value="" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label>Email: </label>
            <input class="form-control" type="text" name="" value="" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label>Message: </label>
            <textarea class="form-control" name="" value="" placeholder="Enter Message"></textarea>
          </div>
          <button class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="col-md-7 col-sm-7">

      </div>
    </div>
  </div>
</section>-->
