<section id="login-form">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form #loginForm="ngForm" id="login" (ngSubmit)="onLogin()">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <h3>Log in</h3>
          <div class="form-group">
            <input type="text" [(ngModel)]="user.username" name="username" class="form-control" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
    </div>
  </div>
</section>