#login-form {
    padding: 10px 0 0px 0;
}
#login {
    /*padding: 20px;*/
    text-align: center;
}
#login .fa {
    font-size: 140px;
    /*padding: 10px 10px 10px 10px;*/
    color: #E01931;
}
.form-group {
    padding-top: 15px;
    padding-bottom: 5px;
}
#login h3 {
    text-align: center;
    color: white;
    font-size: 1.3em;
    padding: 0.9em;
    background: #27AE60;
}